:root {
  --bg-color: #448b9180;
  --pop-bg-color: #00000060;
  --font-color: #f0f0f0;
  --letter-spacing: 2rem;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: monospace;
  overflow: hidden;
}

.sbtn{
  cursor: pointer;
  border-bottom: dashed 1px var(--font-color);
  width: fit-content;
}